<template>
    <div class="calc">
        <div class="calc__wrapper">
            <h2 class="calc__header">Калькулятор курильщика Laravelvue</h2>
            <form action="#" class="calc__form">
                <div class="block-one">
                    <label for="cigarettes" class="calc__form-header">Количество сигарет в сутки:</label>
                    <div class="block-one__wrap">
                        <input
                            type="text"
                            class="calc__input-enter"
                            id="cigarettes"
                            max="70"
                            min="1"
                            v-model:value="qty_cigarettes_range"
                            @change="count_up"
                            @input="count_up"
                        >
                        <span class="calc__measure">сигарет</span>
                    </div>
                    <vue-slider v-model="qty_cigarettes_range" :max="70" @change="count_up"
                                @input="count_up"></vue-slider>
                </div>
                <div class="block-two">
                    <label for="pay_packs" class="calc__form-header">Стоимость пачки сигарет:</label>
                    <div class="block-two__wrap">
                        <input
                            type="text"
                            class="calc__input-enter"
                            id="pay_packs"
                            max="700"
                            min="1"
                            v-model:value="cost_pack_cigarettes_range"
                            @change="count_up"
                            @input="count_up"
                        >
                        <span class="calc__measure">руб.</span>
                    </div>
                    <vue-slider v-model="cost_pack_cigarettes_range" :max="700" @change="count_up"
                                @input="count_up"></vue-slider>
                </div>
                <div class="block-three">
                    <label for="smoking_experience" class="calc__form-header">Стаж курения:</label>
                    <div class="block-three__wrap">
                        <input type="text"
                               class="calc__input-enter"
                               id="smoking_experience"
                               max="70"
                               min="1"
                               v-model:value="smoking_experience_range"
                               @change="count_up"
                               @input="count_up"
                        >
                        <span class="calc__measure">лет</span>
                    </div>
                    <vue-slider v-model="smoking_experience_range" :max="70" @change="count_up"
                                @input="count_up"></vue-slider>
                </div>
            </form>

            <transition name="slide-fade">
                <div class="result" v-show="allSpent && allSpent > 0">

                    <hr class="down_arrows">

                    <div class="result__left">
                        <ul class="result__list">
                            <li class="result__list-item">
                                <div class="key">Выкурено сигарет:</div>
                                <div class="val">{{ totalCigarettes }}</div>
                            </li>
                            <li class=result__list-item>
                                <div class="key">Выкурено пачек:</div>
                                <div class="val">{{ smokedPacks }}</div>
                            </li>
                            <li class="result__list-item">
                                <div class="key">Ежемесячные затраты:</div>
                                <div class="val">{{ spentPerMonth }} <span class="currency">руб.</span></div>
                            </li>
                            <li class="result__list-item">
                                <div class="key">Потрачено всего:</div>
                                <div class="val">{{ allSpent }} <span class="currency">руб.</span></div>
                            </li>
                        </ul>
                    </div>
                    <div class="result__right">
                        <div class="wrap-img">
                            <img :src="/img/ + result_img" :alt="result_img">
                            <div class="cloudy-overlay" :style="'width:' + (100 - percent) + '%'">
                                <div class="wrap-stuff-percent">
                                    <div class="stuff-percent">{{ percent }}%</div>
                                </div>
                            </div>
                        </div>
                        <p id="result_text">Вы могли бы накопить на {{ result_text }}</p>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

export default {
    name: "Index",
    data() {
        return {
            qty_cigarettes_range: 0,
            cost_pack_cigarettes_range: 0,
            smoking_experience_range: 0,
            totalCigarettes: '',
            smokedPacks: '',
            spentPerMonth: '',
            allSpent: '',
            arr_result_img: ['caviar.webp', 'phone.webp', 'travel.webp', 'computer.webp', 'car.webp', 'apartment.webp', 'house.webp'],
            result_img: 'caviar.webp',
            arr_result_text: [
                '5 кг красной икры',
                'современный смартфон',
                'отдых за границей',
                'мощный компьютер',
                'новый автомобиль',
                'квартиру в новостройке',
                'загородный дом'
            ],
            result_text: '5 кг красной икры',
            percent: 0
        }
    },
    methods: {
        count_up() {
            if (this.qty_cigarettes_range && this.smoking_experience_range && this.cost_pack_cigarettes_range) {
                this.totalCigarettes = this.qty_cigarettes_range * (this.smoking_experience_range * 365)
                this.smokedPacks = Math.ceil(this.totalCigarettes / 20)
                this.spentPerMonth = Math.ceil(((this.qty_cigarettes_range * 30.5) / 20) * this.cost_pack_cigarettes_range)
                this.allSpent = Math.ceil(this.totalCigarettes / 20 * this.cost_pack_cigarettes_range)
            }

            if (this.allSpent < 22000) {
                this.result_img = this.arr_result_img[0]
                this.result_text = this.arr_result_text[0]
                this.calculate_percentage(22000)
            }
            if (this.allSpent > 22000) {
                this.result_img = this.arr_result_img[1]
                this.result_text = this.arr_result_text[1]
                this.calculate_percentage(45000)
            }
            if (this.allSpent > 45000) {
                this.result_img = this.arr_result_img[2]
                this.result_text = this.arr_result_text[2]
                this.calculate_percentage(90000)
            }
            if (this.allSpent > 100000) {
                this.result_img = this.arr_result_img[3]
                this.result_text = this.arr_result_text[3]
                this.calculate_percentage(600000)
            }
            if (this.allSpent > 600000) {
                this.result_img = this.arr_result_img[4]
                this.result_text = this.arr_result_text[4]
                this.calculate_percentage(1200000)
            }
            if (this.allSpent > 1200000) {
                this.result_img = this.arr_result_img[5]
                this.result_text = this.arr_result_text[5]
                this.calculate_percentage(2500000)
            }
            if (this.allSpent > 2500000) {
                this.result_img = this.arr_result_img[6]
                this.result_text = this.arr_result_text[6]
                this.calculate_percentage(4000000)
            }
        },
        calculate_percentage(max) {
            this.percent = Math.ceil(this.allSpent / (max / 100))
        },
    },
    components: {
        VueSlider
    },
}
</script>

<style scoped lang="less">
@import "./../../less/smart-grid";

#result_text {
    text-align: center;
    max-width: 300px;
    margin: 20px auto 0;
}

.wrap-img {
    text-align: center;
    position: relative;
}

.cloudy-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background: #ffffffbf;
    border-left: 1px dashed #2d9cdb;
    transition: width .5s;
}

.result__list {
    max-width: 500px;
}

.result__list .result__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #00000020;
}

.result__list .result__list-item:last-child {
    border-bottom: none;
}

.result {
    display: flex;
    flex-wrap: wrap;
    transition: opacity .5s;
}

.result__left {
    flex-basis: calc(50% - 20px);
    margin-right: 40px;
}

.result__right {
    flex-basis: calc(50% - 20px);
}

.calc {
    position: relative;
    width: 100%;
    //margin: 0 auto;
    .row-flex();
    margin: 0 auto;
}

.calc__wrapper {
    padding: 32px;
    background: #fff;
    border: 1px solid #dee2e6;
    border-top-width: 5px;
    border-bottom-width: 5px;
    color: #4d4d4d;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    overflow: hidden;
    border-radius: 1rem;
    .size(12);
    //.col();
}

.calc__header {
    font-size: 1.75rem;
    margin: 0 0 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.calc__form {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin-right: -15px;
    margin-left: -15px;
}

.block-one {
    flex-basis: calc(50% - 20px);
    margin-right: 40px;
    text-align: left;
}

.block-two {
    flex-basis: calc(50% - 20px);
    text-align: left;
}

.block-three {
    flex-basis: 100%;
    margin-top: 30px;
    text-align: left;
}

.block-one__wrap {
    display: flex;
    align-items: flex-end;
}

.calc__form-header {
    display: inline-block;
    margin-bottom: .5rem;
    color: #4d4d4d;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

.calc__input-enter {
    width: auto;
    display: inline-block;
    min-width: 55px;
    max-width: 75px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-right: 10px;
}

.calc__measure {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: #9e9e9e;
    margin-bottom: 8px;
}

.vue-range-slider {
    padding-left: 0 !important;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

hr.down_arrows {
    border: 0;
    height: 40px;
    margin: 30px 0;
    width: 100%;
    background: url('/img/summary.svg') no-repeat center center;
    background-size: auto 125%;
    transition: transform .2s;
    box-sizing: content-box;
    overflow: visible;
}

@media screen and (max-width: 830px) {
    .calc {
        max-width: 80%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .block-one {
        flex-basis: 100%;
        margin-right: 0;
    }

    .block-two {
        flex-basis: 100%;
    }

    .result {
        flex-wrap: wrap;
    }

    .result__list {
        margin: 0 auto;
    }

    .result__left {
        flex-basis: 100%;
        margin-right: 0;
    }

    .result__right {
        margin-top: 50px;
        flex-basis: 100%;
    }
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(-50px);
    opacity: 0;
}

.stuff-percent {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: .85rem;
    background: #2d9cdb;
    padding: .1rem .5rem;
    margin: -1.5rem;
    min-width: 40px;
    text-align: center;
    border-radius: .25rem;
}

.wrap-stuff-percent {
    width: 100%;
    height: 100%;
    position: relative;
}

.vue-range-slider.slider-component .slider .slider-dot.slider-always .slider-tooltip-wrap {
    display: none!important;
}
</style>
